@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.container {
  min-height: 100vh;
  max-height: auto;
  background-color: #355B6B;
}
.header {
  margin-bottom: 50px;
}
.head {
  margin-top: 20px;
  color: #d94c3e;
  font-family: "Roboto", sans-serif;
}

.content {
  height: auto;
}

.left-content {
  border-right: solid 2px #EFCB84;
}
.list-group li {
  margin: 5px;
}
.card{
  background-color: #C6CCC3;
}
.list-group-item{
  background-color:#C6CCC3 ;
}
h4 {
  font-family: "Lora", serif;
  color: #ffffff;
  margin-top: 8px;
}
hr{
  color: #EFCB84;
  height: 10px;
}
/* ----------Card style -----------*/
.card-display {
  margin-bottom: 10px;
}
.card-body {
  border-radius: 5px;
}
.box-color {
  background-color: #C6CCC3;
}
.updateData {
  font-family: "Lora", serif;
  font-size: 15px;
}
.list-group-item {
  font-family: "Lora", serif;
}
/* Navbar */

.brand {
  font-family: "Lora", serif;
}
.brand span {
  font-family: "Courgette", cursive;
  font-size: 15px;
}
.navItem {
  color: #d94c3e;
  margin-left: auto;
  padding: 10px;
}
.NavItem {
  border-bottom: solid 2px #EFCB84;
}
a{
  color:white;
  text-decoration: none;
}
a:hover{
  color: #EFCB84;
}
.activeNav{
  color: white;
  border-bottom: #EFCB84 2px dotted;
}
.sp-class{
  height: 80px;
  width: 80px;
  border-width: 10px;
  border-right-color: #355B6B;
  border-left-color:#355B6B;
  border-top-color: white;

}